<!-- <app-nav-bar></app-nav-bar> -->

<div class="container-fluid">
  <div class="row">
    <div class="">
      <ul class="nav nav-sidebar">
        <li ><a routerLink="/user"  routerLinkActive="active" class="label label-primary">Users List </a></li>
        <li ><a routerLink="/user/add"  routerLinkActive="active" class="label label-info"> add new </a></li>
        <!-- <li><a href="#">Analytics</a></li> -->
        <!-- <li><a href="#">Export</a></li> -->
      </ul>
    </div>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="container bootstrap snippet">
    <div class="row">
      <div class="col-sm-10">
        <h1>User name</h1>
      </div>
      <div class="col-sm-2"><a class="pull-right"><img title="profile image" class="img-circle img-responsive"
            src="https://image.flaticon.com/icons/png/512/66/66659.png" style="width: 60px;"></a></div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <!--left col-->


        <div class="text-center">
          <img src="https://thumbs.dreamstime.com/z/male-user-icon-flat-style-long-shadow-transparent-bac-background-130888644.jpg" style="width: 60px;"
            class="avatar img-circle img-thumbnail" alt="avatar">
          <!-- <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block file-upload"> -->
        </div><br>


        <!-- <div class="panel panel-default">
            <div class="panel-heading">Activity <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
          </div> -->


        <!-- <ul class="list-group">
          <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Blocks</strong></span> 2</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Services</strong></span> 13</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Dept</strong></span> -37 T.D</li>
          <li class="list-group-item text-right"><span class="pull-left"><strong>Depost</strong></span> +70 T.D</li>
        </ul> 

        <div class="panel panel-default">
          <div class="panel-heading">Social Media</div>
          <div class="panel-body">
            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
          </div>
        </div>-->

      </div>
      <!--/col-3-->
      <div class="col-sm-9">
        <ul class="nav nav-tabs">
          <!-- <li class="active"><a data-toggle="tab" href="#home">Home</a></li> -->
          <!-- <li><a data-toggle="tab" href="#messages">Menu 1</a></li> -->
          <!-- <li><a data-toggle="tab" href="#settings">Menu 2</a></li> -->
        </ul>


        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <hr>
            
            <form class="form" [formGroup]="newUserForm" (ngSubmit)="onNewForm()">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Email</h4>
                  </label>
                  <input type="email" class="form-control"  formControlName="email" id="email" placeholder="you@email.com"
                    title="enter your email.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password">
                    <h4>Password</h4>
                  </label>
                  <input type="password" class="form-control"  formControlName="password" id="password" placeholder="password"
                    title="enter your password."  minlength="6">
                </div>
              </div>

            
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="mobile">
                    <h4>Subscrebtion Name</h4>
                  </label>
                  <input type="text" class="form-control"  formControlName="Subscription" id="mobile" placeholder="Create Subscription name if new user or enter previouse Subscription"
                    title="Subscription name">
                </div>
              </div>
              
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="email">
                    <h4>block</h4>
                  </label>
                  
                  <!--(*) use it to list all blocks
                    <select
                    class="form-control"
                    [(ngModel)]="selectedValue"
                    name="selectedValue"
                  >
                    <option *ngFor="let cat of categories; let i = index" [ngValue]="cat">
                      {{ cat.name }}
                    </option>
                  </select> -->


                  <select id="block"  class="form-control" formControlName="block">
                    <option value="block1">block1</option>
                    <option value="block2">block2</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                  </select>
                  <!-- <input type="email" class="form-control" id="location" placeholder="somewhere"
                    title="enter a location"> -->
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-6">
                  <label for="email">
                  </label>
                  <input type="radio"  formControlName="type" value="user"> User<br>
                  <input type="radio"  formControlName="type" value="admin"> Admin<br>
                </div>
              </div>
            
               
              <div class="form-group">
                <div class="col-xs-12">
                  <br>                 
                  <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> 
                     Save</button>
                  <!-- <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button> -->
                </div>
              </div>
            </form>

            <hr>

          </div>
          <!--/tab-pane-->
          <!-- <div class="tab-pane" id="messages">
            <h2>xdfhg</h2>

            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="first_name">
                    <h4>First name</h4>
                  </label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name"
                    title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="last_name">
                    <h4>Last name</h4>
                  </label>
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name"
                    title="enter your last name if any.">
                </div>
              </div>

              <div class="form-group">

                <div class="col-xs-6">
                  <label for="phone">
                    <h4>Phone</h4>
                  </label>
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                    title="enter your phone number if any.">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-6">
                  <label for="mobile">
                    <h4>Mobile</h4>
                  </label>
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                    title="enter your mobile number if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Email</h4>
                  </label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                    title="enter your email.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Location</h4>
                  </label>
                  <input type="email" class="form-control" id="location" placeholder="somewhere"
                    title="enter a location">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password">
                    <h4>Password</h4>
                  </label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="password"
                    title="enter your password.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password2">
                    <h4>Verify</h4>
                  </label>
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2"
                    title="enter your password2.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                    Save</button>
                  <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
              </div>
            </form>

          </div> -->
          <!--/tab-pane-->
          <!-- <div class="tab-pane" id="settings">


            <hr>
            <form class="form" action="##" method="post" id="registrationForm">
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="first_name">
                    <h4>First name</h4>
                  </label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name"
                    title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="last_name">
                    <h4>Last name</h4>
                  </label>
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name"
                    title="enter your last name if any.">
                </div>
              </div>

              <div class="form-group">

                <div class="col-xs-6">
                  <label for="phone">
                    <h4>Phone</h4>
                  </label>
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone"
                    title="enter your phone number if any.">
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-6">
                  <label for="mobile">
                    <h4>Mobile</h4>
                  </label>
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                    title="enter your mobile number if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Email</h4>
                  </label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                    title="enter your email.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="email">
                    <h4>Location</h4>
                  </label>
                  <input type="email" class="form-control" id="location" placeholder="somewhere"
                    title="enter a location">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password">
                    <h4>Password</h4>
                  </label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="password"
                    title="enter your password.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="password2">
                    <h4>Verify</h4>
                  </label>
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="password2"
                    title="enter your password2.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button class="btn btn-lg btn-success pull-right" type="submit"><i
                      class="glyphicon glyphicon-ok-sign"></i> Save</button>
                  <!-<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>->
                </div>
              </div>
            </form>
          </div> -->

        </div>
        <!--/tab-pane-->
      </div>
      <!--/tab-content-->

    </div>
    <!--/col-9-->
  </div>
</div>
