<!-- <div class="wrapper">
  <div class="main">
    UNI <div id="Blocks">Blocks</div>
  </div>
  <div #rendererContainer id="canvas"></div>
</div> -->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" class="fixed-sidebar fixed-header skin-default-dark" [ngClass]="{
    'show-sidebar': showMobileMenu,
    'mini-sidebar': addMiniSidebar,
    'lock-nav': lockSidebar
  }">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in topbar.scss -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <div class="d-flex no-block nav-text-box align-items-center">
      <a (click)="lockSidebar = !lockSidebar" class="nav-lock waves-effect waves-dark ml-auto hidden-md-down"
        href="javascript:void(0)">
        <i class="mdi" [ngClass]="
            lockSidebar ? 'mdi-toggle-switch-off' : 'mdi-toggle-switch'
          "></i>
      </a>
      <a (click)="showMobileMenu = false" class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up"
        href="javascript:void(0)">
        <i class="ti-close"></i>
      </a>
    </div>
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" [perfectScrollbar]="config">
      <app-sidebar></app-sidebar>
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper" [ngStyle]="{ 'min-height': height }">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class=" container-fluid">
      <app-breadcrumb></app-breadcrumb>
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>
      
      <div style="padding-left: 50px;">

        <div *ngFor="let message of messsages">

          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Notification</div>
            <div class="card-body text-dark">
              <h5 class="card-title">from: {{message.email}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

       
      </div>
      <!-- <div>
      
      </div> -->
      <!-- ============================================================== -->
      <!-- End Start Page Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer">
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
